<div class="jumbotron">
    <h1>"Базы данных Спорт клуб"</h1>
    <p class="lead">Автор: Сейтказинова Диана Александровна. Группа: ИВТ-163</p>
</div>
<div class="row">
    <div class="btn-group-vertical">
        <p>Таблицы</p>
        <p><a class="btn btn-default" href="/AllTable">Перейти</a></p>
        <p>Запросы</p>
        <p><a class="btn btn-default" href="/AllQueries">Перейти</a></p>
    </div>
</div>

