
@{
    ViewBag.Title = "Index";
}

<div class="btn-group-vertical">
    <p>Таблица "Секции"</p>
    <p><a class="btn btn-default" href="/Sections">Перейти</a></p>
    <p>Таблица "Спортсмен"</p>
    <p><a class="btn btn-default" href="/Sportsmen">Перейти</a></p>
    <p>Таблица "Соревнования"</p>
    <p><a class="btn btn-default" href="/Competitions">Перейти</a></p>
    <p>Таблица "Участие"</p>
    <p><a class="btn btn-default" href="/Participations">Перейти</a></p>
</div>

